nodered-to-csv.json
[{"id":"679105e0.133604","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"632de196.67a968","type":"mqtt in","z":"679105e0.133604","name":"","topic":"metermon/690xxxxx","qos":"0","datatype":"auto","broker":"96680ef6.a2408","x":210,"y":160,"wires":[["74350bc5.3f7b2c"]]},{"id":"3eb454d9.e4680c","type":"comment","z":"679105e0.133604","name":"Flow to collect telemetry from topic and put in a file","info":"","x":330,"y":80,"wires":[]},{"id":"9666903d.188a8","type":"debug","z":"679105e0.133604","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1290,"y":440,"wires":[]},{"id":"ebb0b393.f5ef4","type":"file","z":"679105e0.133604","name":"","filename":"metermon.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":1340,"y":580,"wires":[[]]},{"id":"74350bc5.3f7b2c","type":"json","z":"679105e0.133604","name":"","property":"payload","action":"","pretty":false,"x":350,"y":320,"wires":[["b4c9681f.3c9268"]]},{"id":"cddc4463.48b03","type":"change","z":"679105e0.133604","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$.payload&\",\"&$now()","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":920,"y":520,"wires":[["ebb0b393.f5ef4","9666903d.188a8"]]},{"id":"b4c9681f.3c9268","type":"switch","z":"679105e0.133604","name":"SCM+ only","property":"payload.Protocol","propertyType":"msg","rules":[{"t":"eq","v":"SCM+","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":400,"wires":[["131ee1ac.2aeef6"],[]]},{"id":"131ee1ac.2aeef6","type":"change","z":"679105e0.133604","name":"extract Consumption","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.Consumption","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":460,"wires":[["cddc4463.48b03"]]},{"id":"96680ef6.a2408","type":"mqtt-broker","z":"","name":"","broker":"192.168.0.114","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
